workflows/mcp-documents.json
{
  "name": "mcp-documents",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "link"
            },
            {
              "name": "doc_type"
            },
            {
              "name": "instance_apikey"
            },
            {
              "name": "message_id"
            },
            {
              "name": "lead_id"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -384,
        -96
      ],
      "id": "ebdb594e-2071-4061-bac8-80cfb318d79f",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "path": "save"
      },
      "type": "@n8n/n8n-nodes-langchain.mcpTrigger",
      "typeVersion": 2,
      "position": [
        -640,
        96
      ],
      "id": "1364eab3-6032-40cc-8076-026c0246d841",
      "name": "MCP Server Trigger",
      "webhookId": "6f17889e-173d-416e-bf89-2a00ff730ac8"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "l2tkXNZIUmiEv4tn",
          "mode": "list",
          "cachedResultName": "mcp-documents"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "link": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('link', ``, 'string') }}",
            "doc_type": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('doc_type', ``, 'string') }}",
            "instance_apikey": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('instance_apikey', ``, 'string') }}",
            "message_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('message_id', ``, 'string') }}",
            "lead_id": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('lead_id', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "link",
              "displayName": "link",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "doc_type",
              "displayName": "doc_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "instance_apikey",
              "displayName": "instance_apikey",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "message_id",
              "displayName": "message_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "lead_id",
              "displayName": "lead_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        -384,
        336
      ],
      "id": "e9970800-7c22-46a4-bc78-f8eef042cf1d",
      "name": "image"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "base64",
        "options": {
          "mimeType": "={{ $json.mimetype }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        576,
        -128
      ],
      "id": "80acf9d2-4c50-447f-a5d2-124ca799292b",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "name": "={{ $('Edit Fields').item.json.lead_id }}_{{ $('Edit Fields').item.json.doc_type }}",
        "driveId": {
          "__rl": true,
          "mode": "list",
          "value": "My Drive"
        },
        "folderId": {
          "__rl": true,
          "value": "1X9MD0d9LoW_Xvr3aePvBel1oGce8wZDe",
          "mode": "list",
          "cachedResultName": "lead_files",
          "cachedResultUrl": "https://drive.google.com/drive/folders/1X9MD0d9LoW_Xvr3aePvBel1oGce8wZDe"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        784,
        -128
      ],
      "id": "5950899b-6229-4a8d-909f-f2fd73aace07",
      "name": "Upload file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "9EtPfdDlGQVLeyxH",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.link }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $json.instance_apikey }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message.key.id",
              "value": "={{ $json.message_id }}"
            },
            {
              "name": "convertToMp4",
              "value": "={{ Boolean(false) }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -128
      ],
      "id": "b9bafeec-9f60-4eff-ab30-f1daa05aa4a3",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"link\": \"{{ $json.link }}\",\n  \"doc_type\": \"{{ $json.doc_type }}\",\n  \"instance_apikey\": \"{{ $json.instance_apikey }}\",\n  \"message_id\": \"{{ $json.message_id }}\",\n  \"lead_id\": \"{{ $json.lead_id }}\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -176,
        -96
      ],
      "id": "77231862-d0ed-41a9-bac7-a4e826d766cd",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "8e4195ba-a6e7-4c27-991e-e63c78e8a19e",
              "leftValue": "={{$json.doc_type}}",
              "rightValue": "unknown",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        -96
      ],
      "id": "939f86d7-7bd0-4705-90ab-8d6982ea63c0",
      "name": "If"
    }
  ],
  "pinData": {},
  "connections": {
    "image": {
      "ai_tool": [
        [
          {
            "node": "MCP Server Trigger",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Upload file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "797ad7c9-f3b1-4f14-aff5-91a3c5b7efda",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "37623cb7bd8d3715d781d48ebf698185963b9904ef7fc5e50118a99015c03ea6"
  },
  "id": "l2tkXNZIUmiEv4tn",
  "tags": []
}